<div @attributes="this.GetAttributes()">
    @switch (this.Layout)
    {
        case InputFieldPanelLayout.Default:
            if (this.FieldNameVisible)
            {
                <div class="field-name-panel">
                    <div class="field-name">
                        <span class="text">@this.Text</span>
                    </div>
                </div>
            }
            <div class="child-content-panel">@ChildContent</div>
            break;
        case InputFieldPanelLayout.Flex:
            <div class="display-flex">
                @if (this.FieldNameVisible)
                {
                    <div class="field-name">
                        <span class="text">@this.Text</span>
                    </div>
                }
                <div class="child-content-panel">@ChildContent</div>
            </div>
            break;
        default: throw SwitchStatementNotImplementException.Create(this.Layout);
    }
    @if (this.ValidateResult == false)
    {
        <div class="field-error-panel">@this.ValidateResult.Message</div>
    }
</div>



