<div class="@ClassName" name="@Name">
    <div class="field-name">
        <span class="text">@this.Text</span>
    </div>
    <div class="child-content-panel">@ChildContent</div>
    @if (this.ValidateResult == false)
    {
        <div class="field-error-panel">@this.ValidateResult.Message</div>
    }
</div>



