<InputFieldPanel Layout="@Layout" Name="@Name" Text="@Text" FieldNameVisible="@FieldNameVisible" ValidateResult="@ValidateResult">
	<div class="record-panel" tabindex="0" @ref="this.RecordPanelElementReference"
	@onclick="async e => await this.ToggleVisible()" @onclick:stopPropagation="true"
	@onkeydown="async e => await this.RecordPanel_Keydown(e)">
		@this.RecordPanel
	</div>
	@if (SelectRecordPanelVisible)
	{
		<SelectRecordPanel OnLoading="OnLoading" OnRecordSelected="async r => await Record_Selected(r)" OnClosed="e => this.SelectRecordPanelVisible = false"></SelectRecordPanel>
	}
</InputFieldPanel>

