@typeparam TItem
@typeparam TFilterItem

<InputFieldPanel PanelType="record-list" Name="@Name" Text="@Text" FieldNameVisible="@FieldNameVisible" ValidateResult="@ValidateResult"
    AddIconVisible="true" OnAddIconClicked="async e => await OnAddIconClicked()">
    @if (this.ChildContent != null)
    {
        <div class="record-list-panel sort-panel" sort-panel="true">@ChildContent</div>
    }
    <div class="select-container-panel">
        @if (this.SelectRecordPanelVisible)
        {
            <SelectRecordPanel State="this.State" FilterItemTemplate="this.FilterItemTemplate"
            TItem="TItem" TFilterItem="TFilterItem" ItemTemplate="this.SelectItemTemplate"></SelectRecordPanel>
        }
    </div>
</InputFieldPanel>
