<InputFieldPanel Layout="@Layout" PanelType="color" Name="@Name" Text="@Text" FieldNameVisible="@FieldNameVisible" ValidateResult="@ValidateResult">
    <div class="display-flex">
        <input type="text" class="textbox color" value="@Value"
               @onchange="e => this.OnValueChanged(e.Value?.ToString())"
               @onclick="e => this.SelectColorCalendarPanelVisible = true"
               @onblur="async e => await this.Textbox_Blur(e)" />
        <span class="color-square-panel" @onclick="e => this.SelectColorCalendarPanelVisible = true" style="background-color: @this.Value"></span>
    </div>
    <div class="select-container-panel">
        @if (SelectColorCalendarPanelVisible)
        {
            <SelectColorPanel ColorSelected="async v => await this.ColorSelected_Callback(v)" OnClosed="() => this.SelectColorCalendarPanelVisible = false"></SelectColorPanel>
        }
    </div>
</InputFieldPanel>
