<InputFieldFlexPanel ClassName="@ClassName" Name="@Name" Text="@Text" ValidateResult="@ValidateResult">
    <InputText @bind-Value="@StartDate" class="textbox date"
               @onfocus="e => this.SelectDateCalendarPanelVisible = true"
               @oninput="e => this.StartDate_Input(e)"
               @onblur="async e => await this.StartDate_Blur(e)"></InputText>
    <span>-</span>
    <InputText @bind-Value="@EndDate" class="textbox date" 
               @onfocus="e => this.SelectDateCalendarPanelVisible = true"
               @oninput="e => this.EndDate_Input(e)"
               @onblur="async e => await this.EndDate_Blur(e)"></InputText>
    @if (SelectDateCalendarPanelVisible)
    {
        <SelectDateDurationCalendarPanel DateSelected="this.DateSelected_Callback"></SelectDateDurationCalendarPanel>
    }
</InputFieldFlexPanel>
