@rendermode InteractiveServer

<InputFieldPanel_Time Layout="InputFieldPanelLayout.Default" Text="StartTime" @bind-Value="@this.Time"></InputFieldPanel_Time>
<span>@this.Time</span>

<InputFieldPanel_TimeDuration SelectEndTimeMode="SelectEndTimeMode.EndTime" Layout="InputFieldPanelLayout.Default"
                              Text="Start-End" @bind-StartTime="@this.StartTime" @bind-EndTime="@this.EndTime"></InputFieldPanel_TimeDuration>
<InputFieldPanel_TimeDuration SelectEndTimeMode="SelectEndTimeMode.Duration" Layout="InputFieldPanelLayout.Default"
                              Text="Time duration" @bind-StartTime="@this.StartTime" @bind-EndTime="@this.EndTime"></InputFieldPanel_TimeDuration>
<time>@this.StartTime - @this.EndTime</time>

<InputFieldPanel_Date Layout="InputFieldPanelLayout.Default" Text="Date" @bind-Value="@this.Date"></InputFieldPanel_Date>
<InputFieldPanel_Date Layout="InputFieldPanelLayout.Flex" Text="Date" @bind-Value="@this.Date"></InputFieldPanel_Date>
<span>@this.Date</span>

<InputFieldPanel_DateDuration Text="Start-End"
                              @bind-StartDate="@this.StartDate" @bind-EndDate="@this.EndDate"></InputFieldPanel_DateDuration>
<InputFieldPanel_DateDuration Layout="InputFieldPanelLayout.Flex" Text="Start-End"
                              @bind-StartDate="@this.StartDate1" @bind-EndDate="@this.EndDate1"></InputFieldPanel_DateDuration>
<span>@this.StartDate</span>
<span>@this.EndDate</span>


<InputFieldPanel_DateTime Layout="InputFieldPanelLayout.Default" Text="DateTime" @bind-Date="this.DateTime_Date" @bind-Time="this.DateTime_Time"></InputFieldPanel_DateTime>
<span>@this.DateTime_Date</span>
<span>@this.DateTime_Time</span>



@code {
    [Parameter]
    public TimeSpan? Time { get; set; }

    [Parameter]
    public TimeSpan? StartTime { get; set; }
    [Parameter]
    public TimeSpan? EndTime { get; set; }
    [Parameter]
    public DateOnly? Date { get; set; } 
    [Parameter]
    public DateOnly? StartDate { get; set; }
    [Parameter]
    public DateOnly? EndDate { get; set; }
    [Parameter]
    public DateOnly? StartDate1 { get; set; }
    [Parameter]
    public DateOnly? EndDate1 { get; set; }

    [Parameter]
    public DateOnly? DateTime_Date { get; set; }
    [Parameter]
    public TimeSpan? DateTime_Time { get; set; } 
}