<span class="paging-panel">
    @if (this.PageListPanelVisible)
    {
        <span class="page-list-panel">
            <span class="menu-record-panel"
                  @onclick="async e => await this.ChangePageIndex(this.PageIndex)" @onclick:stopPropagation="true">@T.Text.Update</span>
            @for (int i = 0; i < this.PageCount; i++)
            {
                var pageIndex = i;
                <span class="menu-record-panel"
                      @onclick="async e => await this.ChangePageIndex(pageIndex)" @onclick:stopPropagation="true">@string.Format("{0}{1}", pageIndex + 1, T.Text.Page)</span>
            }
        </span>
    }
    <span class="display-flex">
        <span class="page-number-change-panel"
              @onclick="async e => await this.ChangePageIndex(this.PageIndex - 1)" @onclick:stopPropagation="true">
            <img src="@UrlInfo.GetIconUrl(Higlabo__icon.ArrowGlayLeft__svg)" />
        </span>
        <span class="page-number-panel" @onclick="e => this.PageListPanelVisible = !this.PageListPanelVisible">
            <span>@string.Format("{0}{1}", T.Text.Page, this.PageIndex + 1)</span>
        </span>
        <span class="page-number-change-panel"
              @onclick="async e => await this.ChangePageIndex(this.PageIndex + 1)" @onclick:stopPropagation="true">
            <img src="@UrlInfo.GetIconUrl(Higlabo__icon.ArrowGlayRight__svg)" />
        </span>
    </span>
</span>
